name: "build"
on:
    workflow_dispatch:
    pull_request:
        paths:
            - "discord_chan/**"
            - "flake.*"
            - ".github/workflows/build.yml"
            - "pyproject.toml"
    push:
        branches: ["master"]
        paths:
            - "discord_chan/**"
            - "flake.*"
            - ".github/workflows/build.yml"
            - "pyproject.toml"

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
        - uses: actions/checkout@v4
        - uses: DeterminateSystems/nix-installer-action@main
        - uses: cachix/cachix-action@v15
          with:
            name: starrfox
            authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
        - run: nix build --print-build-logs
