on:
    pull_request:
    push:
        branches: [master]
  
jobs:
    check:
        name: Check
        runs-on: ubuntu-latest
        steps:
        - uses: actions/checkout@v3
        - name: Install Nix
          uses: DeterminateSystems/nix-installer-action@main
        - name: check flake
          run: nix flake check
